AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public

NEXT_PUBLIC_API_URL=http://localhost:3000/api
